$text-color: #445566;
$header-text-color: #7f7f7f;
$border-light-color: #aabbcc;
$blue-button: #0099ee;

$high-max-width: 1200px;
$medium-max-width: 670px;

$pagination-item-color: #e5e9ee;
$pagination-item-active-color: #aabbcc;

$footer-color: #4a4a4a;
$copyright-color: #f9f9f9;
