@import '../../../styles/mixins';
@import '../../../styles/variables';

.copyright {
  background: $copyright-color;
  text-align: center;
  padding: 30px 10px;
  font-size: 15px;
  color: $footer-color;
}
