@import '../../styles/mixins';
@import '../../styles/variables';

.header {
  width: 100%;
  background: #fff;
}

.header_wrapper {
  max-width: $high-max-width;
  display: flex;
  margin: 0 auto;
  position: relative;
  height: 70px;

  @include breakpoint-down(medium) {
    height: 50px;
    border-bottom: 1px solid $border-light-color;
  }
}
