@import '../../../styles/variables';
@import '../../../styles/mixins';

.form {
  margin: 25px;
  padding: 32px;
  background: #fff;
  border-radius: 8px;
  display: inline-block;
  position: relative;
  z-index: 2;

  @include breakpoint-down(medium) {
    max-width: calc(544px + 50px);
    margin: 0 auto;
  }

  @include breakpoint-down(small) {
    width: 100%;
    padding: 16px;
  }
}

.form_head {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: $text-color;
  padding-bottom: 20px;
  line-height: 1.3em;

  @include breakpoint-down(small) {
    text-align: left;
    font-size: 24px;
  }

  &.submitted {
    text-align: center;
  }
}

.form_sub {
  text-align: center;
  color: $text-color;
  padding-bottom: 30px;
  line-height: 1.5em;

  @include breakpoint-down(small) {
    display: none;
  }

  &.submitted {
    display: block;
  }
}

.form_group_wrapper {
  @include breakpoint-down(small) {
    margin: 0 auto;
    width: 360px;
    max-width: 100%;
  }
}

.form_group {
  display: flex;
  align-items: center;
  padding-bottom: 15px;

  label {
    display: inline-block;
    width: 100px;
    text-align: right;
    padding-right: 10px;
    color: $text-color;
  }

  input {
    max-width: 360px;
    flex: 1 1 48px;
    height: 48px;
    border-radius: 4px;
    padding-left: 10px;
    background-color: #fff;
    border: solid 1px #abc;
    transition: border-color 0.2s ease;
    font-size: inherit;
    color: $text-color;

    &:focus {
      outline: none;
      border: solid 1px $blue-button;
    }

    &.error {
      border: solid 1px $error-red-color;
    }
  }

  &.submitted {
    justify-content: center;
    input {
      border: none;
      font-weight: bold;
      max-width: 250px;
    }

    label {
      text-align: left;
    }
  }

  @include breakpoint-down(small) {
    flex-direction: column;
    align-items: flex-start;

    label {
      width: auto;
      line-height: 1.7em;
    }

    input {
      width: 100%;
    }
  }
}

.form_button {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 280px;
  height: 48px;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  background-color: $blue-button;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: inherit;

  &:hover {
    background-color: lighten($color: $blue-button, $amount: 10);
  }

  &:focus {
    outline: none;
  }

  @include breakpoint-down(small) {
    width: 260px;
    height: 44px;
    margin-bottom: 10px;
  }
}
